<div class="d-flex justify-content-center align-items-center flex-column mx-5">
{{#each posts as |post| }}
<div class="card bg-dark m-3 allpostscard" style="width: 80%;">
  <div class="card-body">
    <h4 class="card-title posttitle"> {{ post.title }}</h4>
    
    <p class="card-text"> {{ post.body }} </p>
    <p class="card-text"> Post by {{ user.name }} </p>
    <div class="text-center">
   <h6><a href="/blogpost/{{ post.id }}" class="card-link postlink">View Post</a></h6>
   </div>
  </div>
</div>
{{/each}}