<div class="text-center mx-3 mt-3 px-5">
<form class="signupform">
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control bg-dark text-white" id="username"  placeholder="Create username">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control bg-dark text-white" id="newemail" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control bg-dark text-white" id="newpassword" placeholder="Password">
    <small id="emailHelp" class="form-text text-muted">Password must be 7 or more characters.</small>
  </div>
  <button type="submit" class="btn formbutton" id="signup">Submit</button>
  </div>
</form>
</div>

<script src="./js/signup.js"></script>